@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html,
body {
  max-width: 1020px;
  width: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
}

input {
  border-style: solid;
}

a {
  text-decoration: none;
  color: black;
}

div,
p {
  font-size: 19px;
}

.slick01 {
  width: 50%;
}

.icon {
  max-width: 100px;
  width: 100%;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  max-width: 1020px;
  width: 100%;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1020px;
  width: 100%;
  padding: 5px 40px;
}

.header-main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-main_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-search {
  max-width: 1020px;
  width: 100%;
  background-color: #d6d4d4;
  padding: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search_search {
  width: 100%;
  text-align: center;
}

.header-search_sub01 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 6px 0;
}

.header-search_sub02 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffe18cb8;
  padding: 10px;
}

.main-block_01 > p {
  text-align: center;
}

.main-block_01_2column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-block_01_2column > img {
  width: 50%;
}

.main-block_01_4column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-block_01_4column > .main-block_content {
  width: 25%;
}

.main-block_02 > p {
  text-align: center;
}

.main-block_02_2column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-block_02_2column > div {
  text-align: center;
}

.main-block_banner > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-block_notice {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
}

.main-block_notice_header {
  text-align: center;
}

.main-block_notice_content > p {
  margin: 20px 0;
}

footer > div > p {
  line-height: 42px;
}

.footer_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_bottom {
  text-align: center;
  margin: 20px 0;
}
/*# sourceMappingURL=common.css.map */