@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

header {
    display: flex;
    flex-direction: column;
}

html,
body {
    max-width: 1020px;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0 auto;
    overflow-x: hidden;
}

input {
    border-style: solid;
}

a {
    text-decoration: none;
    color: black;
}

div,
p {
    font-size: 19px;
}

.slick01 {
    width: 50%;
}

.icon {
    max-width: 100px;
    width: 100%;
}

.header {
    &-top {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px 10px 30px;
        margin-left: auto;
        margin-right: auto;
        font-size: 10px;
        max-width: 1020px;
        width: 100%;
    }

    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1020px;
        width: 100%;
        padding: 5px 40px;

        &_menu {
            display: flex;
            align-items: center;
            width: 23%;
            justify-content: space-evenly;
        }

        &_login {
            display: flex;
            align-items: center;
            width: 23%;
            justify-content: space-evenly;
        }
    }

    &-search {
        max-width: 1020px;
        width: 100%;
        background-color: #d6d4d4;
        padding: 20px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_search {
            width: 100%;
            text-align: center;
        }

        &_sub01 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin: 6px 0;
        }

        &_sub02 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            background-color: #ffe18cb8;
            padding: 10px;
        }
    }

}


.main-block_01>p {
    text-align: center;
}

.main-block_01_2column {
    display: flex;

    &>img {
        width: 50%;
    }
}

.main-block_01_4column {
    display: flex;
    flex-wrap: wrap;

    &>.main-block_content {
        width: 25%;
    }
}

.main-block_02 {
    &>p {
        text-align: center;
    }

    &_2column {
        display: flex;
        justify-content: space-between;

        &>div {
            text-align: center;
        }
    }
}

.main-block_banner {
    &>div {
        display: flex;
        justify-content: space-evenly;
    }
}

.main-block_notice {
    justify-content: center;
    height: 300px;
    width: 100%;
    text-align: center;
    overflow-y: scroll;

    &_header {
        text-align: center;
    }

    &_content {
        &>p {
            margin: 20px 0;
        }

    }
}

footer {
    &>div>p {
        line-height: 42px;

    }


}

.footer {
    &_info {
        display: flex;
        justify-content: space-between;
    }

    &_bottom {
        text-align: center;
        margin: 20px 0;
    }
}